.counting-clock {

  &.countdown {
    
    .clock {
      position: relative;

      .digit {
        font-size: 6em;
        color: $link-color;
      }
      .unit {
        font-size: 3em;
        color: $diamanias-quartery;
        position: relative;
        top: .2em;
        right: .4em;
        display: inline-block;
        @include vendor(animation, .2s ease-in-out infinite alternate 0s haunted);
        @for $i from 1 through 4 {
          &:nth-child(#{$i*2}){
            @include vendor(animation, .4s linear infinite alternate #{$i/6}s haunted);
          }
        }
      }
    }
  }
}
