<section class="container mt-1 mb-1">
  <div class="row">
    <div class="col s12">
      <h1>Diamanias - an interactive web comic</h1>
      <p>Follow Joshua, Kim and Sebastian into a dystopian world reigned by an unfathomable new order. In a dimension in which flesh and essence have lost their meaning, they get entangled into mysteries that they wished to have left untouched.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p>Check it out: January 17, 2017</p>
    </div>
  </div>
</section>
{{outlet}}
