<div>
  <div class="controls">
    {{play-button primaryAction=(action play) secondaryAction=(action pause)}}
  </div>
  {{progress-bar step="0.001" focusAction=(action pause) inputAction=(action (mut progress)) }}
</div>
