<div class="obj" id="red"></div>
<div class="obj" id="green"></div>
<div class="obj" id="blue"></div>

<div>
  <button onclick={{action play}}>Slide</button>
  <button onclick={{action pause}}>Pause</button>
  <button onclick={{action reverse}}>Rev</button>
</div>
