.index {
  background-image: url('/img/kim.png');
  background-repeat: no-repeat;
  background-size: 600px auto;
  background-position: 120% 0;
}

.index-panorama {
  background-color: transparentize($primary-color, 0.5);
  background-image: url('/img/f2.png');
  @include vendor(filter, invert(50%)); 
}