.index {
  background-image: url('/img/kim.png');
  background-repeat: no-repeat;
  background-size: 600px auto;
  background-position: 120% 0;
}

.index-panorama {
  background-color: transparentize($primary-color, 0.5);
  background-image: url('/img/f2.png');
  @include vendor(filter,  invert(80%) blur(0px)); 
  @include vendor-trans-filter(filter, 0.5s ease-out);

  &.blurred {
    @include vendor(filter, invert(20%) blur(5px));
  }
  .moving-lines {
    .text-line{
      color: $secondary-shade;
      font-size: 8vh;
      font-weight: 100;
      line-height: 1;
    }
  }
}

